/* Robin's GDG Framework */
/*(c) Robin Naumann 2019*/


@import url('https://fonts.googleapis.com/css?family=Poppins|Heebo|Kulim+Park&display=swap');
@gridColumnWidth =165px;
:root {
    --color-primary: #006BB2;
    --color-primary-dark: red;
    --color-accent: #1abc9c;
    --color-accent-darker: #149b80;
    --color-accent-dark: #0e705d;
    --color-background: #eeeeee;
    --color-background-dark: #000000;
    --color-background-light: #FFFFFF;
    --color-background-base: #ffffff;
    --color-background-base-darker: #DDDDDD;
    --color-background-controls: #CCCCCC;
    --color-text-light: #FFFFFF;
    --color-text-darker: #dddddd;
    --color-text-dark: #222222;
    --color-text-lighter: #555555;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}

body {
    background-color: var(--color-background);
}

.cheader {
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 17pt;
}

.cblur {
    -webkit-backdrop-filter: blur(17px);
    backdrop-filter: blur(17px);
}

.ctitle {
    padding-left: 0px;
    color: #000000;
}

.cnavtitle {
    padding-left: 0px;
    color: #000000;
    animation-name: logofade;
    animation-duration: 1.5s;
}

.ctitle a {
    color: #000000;
    text-decoration: none;
}

.cdate {
    padding-left: 0px;
    font-weight: 200;
    color: #000000;
}

.cnavbar {
    box-shadow: 0px -7px 10px -5px #DDDDDD;
    background-color: #ccccccaa;
    color: #ff0099;
    z-index: 289;
}

h2 {
    font-family: 'Kulim Park', Arial, sans-serif;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Kulim Park', Arial, sans-serif;
    font-size: 23px;
    font-weight: 700;
}

h4 {
    font-family: 'Kulim Park', Arial, sans-serif;
    font-size: 19px;
    font-weight: 700;
}

h5 {
    font-family: 'Kulim Park', Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #444444;
}

.pointer {
    height: 100px;
    width: 100px;
    background: white;
    margin: 0 auto;
    transform: rotate(45deg);
    border-radius: 0 0 12px 0;
    margin-top: -120px;
    position: relative;
    left: 0px;
}

.assistant {
    width: 300px; 
}

.gslidescontainer {
    position: relative;
}
.gslidescontainer iframe {
    display: block;
    position: relative;
    z-index: 1;
}
.gslidescontainer::before {
    outline: 5px solid white;
    outline-offset: -2px;
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.cavatar {
    background-image: url(../assets/robin.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    z-index: -1;
    margin-bottom: -30px;
    position: relative;
    left: 0px;
}

/* navbar color config */

.cnavbar .navbar-text {
    color: var(--color-text-dark);
}

.cnavbar .navbar-nav .nav-link {
    color: var(--color-text-lighter);
    padding-left: 0px;
    padding-right: 40px;
}

.cnavbar .nav-item.active .nav-link, .cnavbar .nav-item:focus .nav-link, .cnavbar .nav-item:hover .nav-link {
    color: var(--color-text-dark);
}

.cnavbar-sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.cnavbar-sticky+.content {
    padding-top: 60px;
}

.vertical-center {
    position: relative;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.cvcenter {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    padding: 50px;
    -moz-transform: translateX(0%) translateY(-50%);
    -webkit-transform: translateX(0%) translateY(-50%);
    transform: translateX(0%) translateY(-50%);
}

.chero {
    height: 40vh;
    background-image: url(../assets/shapes.png);
    background-size: contain;
    background-position: top;
    background-repeat: repeat-x;

}

.chero-bottom {
    height:60vh;
    -moz-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1);
}


.btn {
    font-size: 18pt;
}

.btn-success {
    background: var(--color-accent);
    color: var(--color-text-light);
    box-shadow: 0px 3px 10px -2px var(--color-accent);
    border: 0px;
}

.btn-success {
    background: var(--color-accent);
    color: var(--color-text-light);
    box-shadow: 0px 3px 10px -2px var(--color-accent);
}

.cbtn {
    border-radius: 10px;
    font-size: 18pt;
    font-weight: 600;
    margin-top: 10%;
    padding: 13px;
    font-family: 'Heebo', Arial, sans-serif;
    background: var(--color-primary);
    color: var(--color-text-light);
}

/*.btn:focus {
    color:var(--color-text-darker);
    background: var(--color-text-dark);
}*/

.btn-sucess:hover {
    color: var(--color-text-darker);
    /*background: var(--color-text-dark);*/
}

.ccard {
    background: var(--color-background-base);
    margin-top: 30px;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 25px;
    box-shadow: 0px 3px 10px -2px var(--color-background-base-darker);
}

.redesigns img {
    object-fit: contain;
    object-position: top;
    max-height: 550px;
    max-width: 240px;
    /*padding-left: 4px;*/
}

.redesigns2 img {
    object-fit: cover;
    object-position: top;
    max-height: 550px;
    max-width: 400px;
    padding-left: 0px;
}

.sketches img {
    height: 250px;
    width: 250px;
}

.digimg {
    border: 1px solid black;
}

.img-enlargable {
    cursor: zoom-in;
}

.csidebarbutton {
    font-family: 'Kulim Park', Arial, sans-serif;
    font-size: 13pt;
    font-weight: 600;
    text-align: end;
    height: 60px;
    width: 100%;
    color: var(--color-text-light);
    border-radius: 0;
}

.cfloat {
    margin-top: -20px;
}

.cfooter {
    margin-top: 0px;
    background-color: #cccccc;
    color: #FFFFFF;
    height: 250px;
    -webkit-backdrop-filter: blur(17px);
    backdrop-filter: blur(17px);
}

.cfooter-header {
    font-family: 'Kulim Park', Arial, sans-serif;
    font-size: 13pt;
    background: var(--color-background);
    color: var(--color-text-dark);
    margin-top: -30px;
    padding: 10px;
    text-align: center;
}

.cagenda-item {
    font-family: 'Kulim Park', Arial, sans-serif;
    font-size: 13pt;
    margin-top: 30px;
    color: var(--color-text-lighter);
}

.cagenda-item h5 {
    font-weight: 600;
}

.cbutton-primary {
    font-family: 'Kulim Park', Arial, sans-serif;
    font-size: 13pt;
    font-weight: 600;
    text-align: center;
    height: 50px;
    color: var(--color-text-light);
    background: var(--color-primary);
    border-radius: 0;
}

.elementtitle {
    font-family: 'Kulim Park', Arial, sans-serif;
    font-size: 13pt;
    color: #555555;
    min-width: 200px;
    font-weight: 600;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}

.contentelement {
    padding-top: 30px;
}

.cwarning {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(0deg) brightness(90%) contrast(119%);
    animation-name: warning;
    animation-duration: 1.5s;
    height: 50px;
    width: 50px;
}

.cwarningbase {
    font-family: 'Kulim Park', Arial, sans-serif;
    font-size: 13pt;
    font-weight: 600;
    color: #444444;
}


.nav-link:focus {
    color: black !important;
    font-weight: 500;
}

@keyframes logofade {
    from {
        opacity: 0;
        margin-left: -150px;
    }
    to {
        opacity: 1;
        margin-left: 0px;
    }
}

@keyframes warning {
    from {
        filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(0deg) brightness(120%) contrast(119%);
        height: 70px;
        width: 70px;
    }
    to {
        filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(0deg) brightness(90%) contrast(119%);
        height: 50px;
        width: 50px;
    }
}